<!doctype html>
<title>Face Matching as a Service</title>
<h1>Face Matching as a Service</h1>
<h2>Upload first image</h2>
<form action={{url_for('web_predict')}} method=post enctype=multipart/form-data>
    <input type=file name=image1 single>
    <input type=submit value=Upload>
</form>
<h2>Upload second image</h2>
<form action={{url_for('web_predict')}} method=post enctype=multipart/form-data> 
    <input type=file name=image2 single>
    <input type=submit value=Upload>
</form>
<div>
{{result}}
</div>
